@media screen and (max-width: 500px){
    .icon>h1{
        font-size: 60px; 
    }
    .icon>h3{
        font-size: 21px
    }
    .nav-on{display: none;}
	.navbar-brand{display: none;}
    .room{
        position:relative;
        right: 40px;
    }
	@media screen and (max-width:)
    .content1>h1{
        margin: 0;
    }
    .card{border: none;}
}