@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
body{
	font-family: "Russo One";
	background: -webkit-linear-gradient(50deg,#e15249,#f6d365) fixed;
}
a{color:#c83660; text-decoration: none;}
a:hover{color: #3a1f5d;}
header{
	text-align: center
}
hr{
    border-color: #3a1f5d;
}
img{
    width: 300px; height:180px;
    border: 1px solid #c83660;
}
header>h3,.icon>h3{
	margin-top: 0;
	font-size: 25px;

}
header>h1,header>u,.icon>h1,.icon>u{
	margin-bottom: 0;
	font-size: 70px;
}
header>h1,header>h3,.icon>h1,.icon>h3{
	color:#c83660;
	text-shadow: 0 5px 10px;
    display: block;
}
.navbar-brand, .nav-link{
	color:   #c83660 !important;
}
.nav-link{
	text-align: center
}
.nav-link:hover{
	background-color:#f6d365;
	border-radius: 25px;
}

.navbar-toggler{
	border: none;
}
.form{
	text-align: center;
}
input{
	border: none;
	border-radius: 25px 25px 25px 25px;
	width: 300px;
	height: 60px;
	font-size: 20px;
	padding-left: 20px;
	margin-top: 45px; 
	box-shadow: 0 5px 10px #3a1f5d;
    font-family: "Russo One";
}
form>.button{
    margin-top: 30px;
	font-family: "Russo One";
	color: #FFF;
	background-color: #c83660;
     height: 40px;
}
form>.button:hover{background-color: #3a1f5d;}

.icon{margin-left: 40px; display: inline-block;}
.nav-on,.nav-off{display: inline-block;}
.nav-on>ul,.nav-off>ul, .nav-on>ul>li, .nav-off>ul>li{display: inline-block;}
.nav-on>ul>li, .nav-off>ul>li{
    padding: 18px 32px;
    font-size: 30px;
}
.center{text-align: center;}
.container>h1{color:#c83660; }
.card{
	background-color: #c83660;
	color:#FFF;
	margin: 10px 20px;
}
.room, .card{display: inline-block;}
.room{text-align: center;}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 25px;
	border: none;
	background-color: #e15249;
	position: relative;
	top: 25em;
	font-family: "Russo One";
	color: #f6d365;
}

option{
	font-family: "Russo One";
	border-radius: 20px;
	color: #f6d365;
	font-size: 10px;
}
