@media screen and (max-width: 500px) {
  .icon > h1 {
    font-size: 55px;
  }
  .icon > h3 {
    font-size: 18px;
  }
  .nav-on {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  .room {
    position: relative;
    right: 40px;
  }
  .displash {
    width: 20rem !important;
  }
  .content1 > h1 {
    margin: 0;
  }
  .card {
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  .displash {
    display: inline-block;
    width: 500px;
  }
  .navbar-collapse {
    text-align: center;
  }
}
